body {margin: 0 auto;
  padding: 0;
  //height: 41000px;
  font-family: 'regular';
  background: black;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


html {height: 100%;}


@font-face {
  font-family: 'bold';
  src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
}
@font-face {
  font-family: 'regular';
  src: url("../fonts/Montserrat-Regular.ttf") format("opentype");
}
@font-face {
  font-family: 'light';
  src: url("../fonts/Montserrat-Light.ttf") format("opentype");
}
@font-face {
  font-family: 'hair';
  src: url("../fonts/Montserrat-Hairline.otf") format("opentype");
}

$aqua:#66a8a6;
$brown:#605248;
$orange:#9b59b6;

$purple:#8e44ad;

$blue:#3498db;

:root {
  --scroll: 0px;
  --bkgX: 0px;
  --bkgY: 0px;
}


h1,h2,h3,h4{text-transform: uppercase;font-family: 'bold';}

h1{font-size: 60pt;color: $blue; }


#canvas{
  position: fixed;
  z-index:99;
  width: 100%;
  height: 100%;
  //pointer-events: none;
  will-change: transform, opacity;
}


#canvas_bkg{
  position: fixed;
  z-index:3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //pointer-events: none;
  will-change: transform, opacity;
}

#bkg{
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../images/space_bg.jpg") ;
  top:0px;
  left: 0px;
  will-change: transform, opacity;
  pointer-events: none;

  #image{
    z-index: 2;
    position: absolute;
    width: 120%;
    height: 120%;
    top:-25%;
    right: -40%;
    background: url("../images/space_cloud.png") no-repeat;
    opacity: 0.3;
    background-size: cover;
    will-change: transform, opacity;

  }
  #image_small{
    z-index: 99;
    position: absolute;
    width: 120%;
    height: 120%;
    top:-20%;
    left: -10%;
    background: url("../images/space_cloud_small.png") no-repeat;
    opacity: 0.3;
    will-change: transform, opacity;
  }
}

#paralax{
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 100%;
  pointer-events: all;

  &.scrolled{
    pointer-events: none;
    will-change: transform, opacity;
  }
}

.top_nav{
    position: fixed;
    z-index: 10;
    top:0px;
    left: 0px;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        color: white;
        text-transform: uppercase;
        font-family: 'hair';
        flex: 1;
    }

    .position_list{
        width: 70%;
        position: relative;
        flex: 2;
      
        #space_shatle{
            position: absolute;
            width: 25px;
            top: -11px;
            height: 25px;
            background-color: white;
            transform: rotate(90deg);
            -webkit-mask-image: url("../images/icons/transport.svg");
            mask-image: url("../images/icons/transport.svg");
        }


        .fill_wrapper{
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 2px;
            border-right:2px solid rgba(255, 255, 255, 1);

            .fill_block{
                position: relative;
                background: linear-gradient(to right, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
                width: 104%;
                height: 2px;
                will-change: transform;
                transform: translateX(-100%);
            }
        }
    }

    .controls{
        flex: 1;
    }
}


.header{
  height: 100%;
  width: 100%;
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform, opacity;

  .wrapper{
      text-align: center;
      text-transform: uppercase;
      font-family: 'bold';
      will-change: transform, opacity;

        .top{ color: $aqua;
            font-size: 5em;
            will-change: transform, opacity;
            text-shadow: 0px 0px 240px $blue;
        }
        .evo{color: $blue;
            font-size: 9em;
            margin: -2% 0px;
            margin-bottom: -4%;
            will-change: transform, opacity;
        }
        .bigest{color: $aqua;
            font-size: 12em;
            margin: -2% 0px;
            will-change: transform, opacity;
            text-shadow: 0px 0px 240px $blue;
        }
        .caption{
            font-family: 'hair';
            font-size: 2.6em;
            color: white;
            will-change: transform, opacity;
        }
        .copyright{
            color:$purple;
            padding: 8px 5px;
            display: inline-block;
            will-change: transform, opacity;
            text-shadow: 0px 0px 40px lighten($purple, 20%);
            margin-top: 20px;
        }
    }
}

.section{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:  0;
    z-index:4;
    opacity: 0;
    will-change: transform, opacity;

    &.active_section{
      opacity: 1;
      z-index: 5;
    }

    .content_wrap{
        width: 100%;
        height: 500px;
        position: relative;


        .left{
            width: 100%;
            position: absolute;
            left: 0px;
            will-change: transform, opacity;
        }

        .right{
            width: 100%;
            position: absolute;
            right: 0px;
            will-change: transform, opacity;
        }


        .content{
            position: relative;

            .title{
                color: white;
                font-size: 2em;
                will-change: transform, opacity;
            }

            .text{
                position: absolute;
                color: white;
                overflow: hidden;
                width: 300px;
                bottom: 330px;
                right: 100px;

                .overlay{
                    position: relative;
                    width: 100%;
                    height:100%;
                    padding: 30px;
                    box-sizing: border-box;
                    transform: translateY(-100%);
                    transition: 0.5s;
                    z-index: 9;

                    .content{
                        opacity: 0;

                        p{
                          font-family: 'light';
                        }
                        .text-title{
                          margin-top: 0px;
                          font-family: 'hair';
                          font-size: 2em;
                        }
                    }
                }
            }
        }
    }
}

.core_team{

    .text{
        .overlay{
            background: $aqua;
        }
    }

    &.start_animation{
        .overlay{
            transform: translateY(0) !important;

            .content{
                animation: setOpacity 0.5s;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes setOpacity {
    from{
        transform: translateX(-40px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}


#coodr {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 2px;
  background: red;
  top: 0px;
  left: calc(100vw / 2 - 2px);
}


.nav_active{
  opacity: 1;
  cursor: pointer;
  color: white;
  transform: translateX(-10px) scale(1.1);
}

.left_nav{
  top: calc(50% - 190px);
  opacity: 1;
  z-index: 999999;
  position: absolute;
  right: 0px;
  color: white;
  pointer-events: all;

  ul{
    list-style: none;

    li{
      font-family: 'hair';
      margin-right: 10px;
      text-align: right;
      color: $blue;
      margin-bottom: 4px;
      transition: all 0.5s ease;

      &.active{
        @extend .nav_active;
      }

      &:hover{
        @extend .nav_active;
      }
    }
  }
}

.team_bg{
  position: absolute;
  z-index: 9;
  width: 200%;
  left: -100px;
  bottom:300px;
  font-size: 20em;
  color: $orange;
  opacity: 0.2;
  font-weight: 800;
  text-transform: uppercase;

  li{
    position: absolute;
    opacity: 0;
    transition: all 1s ease-in-out;

    &.active{
      opacity: 1;
    }
  }
}


#footer{
  position: fixed;
  z-index: 999;
  color: white;
  padding: 10px 0px;
  text-align: center;
  bottom:0px;
  width: 100%;
}

.rus{
  font-family: arial;
}